<h1>Home</h1>

<div class="tours">
  <% cache @cities do %>
    <% @cities.each do |city| %>
      <div class="row">
        <div class="col-lg-12">
          <hr/>
          <h3><%= link_to city.name, city_tour_path(city), class: 'city' %></h3>
          <%= render partial: 'list', locals: {tours: city.tours.published.newest.first(5)} %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
