

<div class="jumbotron">
  <h1><%= @tour.name %></h1>
  <p><%= simple_format @tour.description %></p>
  <div class="categories">
    <% @tour.categories.each do |category| %>
      <%= link_to category.name, category_tour_path(category), class: 'label label-primary' %>
    <% end %>
  </div>
</div>